body {
  margin: 0;
  padding: 25px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15pt;
  line-height: 1.5;
  color: #333333;
}

a {
  color: #ff9900;
}

@media (max-width: 767px) {
  body {
    font-size: 14pt;
  }
}

@media (max-width: 450px) {
  body {
    padding: 0;
  }
}
