---
layout: 'base.html'
---

<article class="item" itemscope="itemscope" itemtype="http://schema.org/Article">
    <time itemprop="datePublished" datetime="{{ date | rawPostDate }}">
        {{ date | postDate }}
    </time>
    <header class="title">
        <h2>{{ title }}</h2>
    </header>
    {% if categories %}
    <aside class="categories">
        <ul>
            {%- for category in categories -%}
            <li>{{ category }}</li>
            {%- endfor -%}
        </ul>
    </aside>
    {% endif %}
    {% if image %}
    <figure class="image">
        <picture>
            <img src="../{{ image }}" alt="{{ imageAlt }}" alt="" />
        </picture>
    </figure>
    {% endif %}
    <div class="description">
        {{ content }}
    </div>
    <div class="back">
        <a href="/">Back to home</a>
    </div>
</article>
